{% extends "base.html" %}
{% block content %}

	<br>
  	<h3 class="text-center"> <strong>Informações do Ambiente</strong> </h3>
  	<br>
    <br>
	<div id="container0" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
	<br><br>
	<div id="container3" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
	<br><br>
	<div id="container2" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
	<br><br>
	<div id="container1" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
	<br><br>
	<div id="container4" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
	<br><br>

{% endblock %}


<script src="/static/js/graficos.js"></script>